<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>Componentech</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="header-bar"></div>
            <img src="/images/Index-Componentech/lupa.png" class="search-icon">
            <div class="header-buttons">
                <div class="button"></div>
                <div class="button"></div>
            </div>
            <img src="/images/Index-Componentech/banner-index.jpg" class="banner">
            <nav class="nav-bar">
                <div class="nav-item">PC ARMADA</div>
                <div class="nav-item">HARDWARE</div>
                <div class="nav-item">NOTEBOOK</div>
                <div class="nav-item">PLACAS DE VIDEO</div>
                <div class="nav-item">MONITORES</div>
                <div class="nav-item">SILLAS GAMER</div>
                <div class="nav-item">ACCESORIOS</div>
                <div class="nav-item">TECNOLOGIA</div>
                <div class="nav-item">PERIFERICOS</div>
            </nav>
            <div class="promo-bar"></div>
        </header>
        <section class="main-content">
            <h1 class="highlighted-text">Descubre los Componentes que Transformarán tu Experiencia</h1>
            <h2 class="category-title">Categorías destacadas</h2>
            <div class="products">
                <img src="/images/Index-Componentech/cuotas-2.webp" class="product-img">
                <img src="/images/Index-Componentech/cuotas-3.webp" class="product-img">
                <img src="/images/Index-Componentech/cuotas-5.webp" class="product-img">
                <img src="/images/Index-Componentech/cuotas-4.webp" class="product-img">
                <img src="/images/Index-Componentech/cuotas-1.webp" class="product-img">
            </div>
            <h2 class="section-title">Productos en tendencia</h2>
            <div class="product-cards">
                <div class="product-card">
                    <img src="/images/Index-Componentech/CPU-1.webp" class="product-img">
                    <div class="product-name">Procesador Intel Core I3 10100F</div>
                    <div class="product-price">$ 87.233</div>
                </div>
                <div class="product-card">
                    <img src="/images/Index-Componentech/memoria-1.webp" class="product-img">
                    <div class="product-name">Disco Ssd 240Gb Kingston</div>
                    <div class="product-price">$ 29.933</div>
                </div>
                <div class="product-card">
                    <img src="/images/Index-Componentech/RAM-3.webp" class="product-img">
                    <div class="product-name">Memoria Ddr4 16Gb (2X8Gb) Gskill</div>
                    <div class="product-price">$ 29.933</div>
                </div>
                <div class="product-card">
                    <img src="/images/Index-Componentech/memoria-2.png" class="product-img">
                    <div class="product-name">Disco Ssd 240Gb Gigabyte</div>
                    <div class="product-price">$ 26.138</div>
                </div>
            </div>
            <h2 class="section-title">Las mejores marcas</h2>
            <div class="brands">
                <div class="brand">
                    <img src="/images/Index-Componentech/target-razer.webp" class="brand-img">
                    <div class="brand-name">Razer</div>
                </div>
                <div class="brand">
                    <img src="/images/Index-Componentech/target-corsair.webp" class="brand-img">
                    <div class="brand-name">Corsair</div>
                </div>
                <div class="brand">
                    <img src="/images/Index-Componentech/target -aourus.webp" class="brand-img">
                    <div class="brand-name">Aorus</div>
                </div>
            </div>
            <div class="footer">
                <div class="footer-info">componentech@gmail.com</div>
                <div class="footer-info">Lunes a Viernes 10:00hs - 18:00hs</div>
                <div class="footer-info">Domingos y feriados cerrado</div>
                <div class="footer-info">Calle xxxx, Floresta, CABA</div>
            </div>
        </section>
    </div>
</body>
</html>
